# Base URL of the work4all API instance to test against
W4A_BASE_URL=https://backend-dev.work4alltest.work4allcloud.de

W4A_API_CLIENT_ID=
W4A_API_CLIENT_SECRET=
W4A_API_ACCESS_TOKEN_URL=https://backend-dev.work4alltest.work4allcloud.de/api/OAuth2/token

# Internal work4all supplier code that must exist in your tenant
W4A_TEST_SUPPLIER_CODE=1731100880
# Internal work4all project code that must exist in your tenant
W4A_TEST_PROJECT_CODE=1746360621

# Sachkonto code used for the invoice line items in tests
W4A_TEST_ACCOUNT_CODE=2009750049
